h1 {
    position: sticky;
    width: 100%;
    padding: 10px;
    top: 0%;
    animation-name: makuku;
    background-color: rgb(77, 72, 72);
    color: whitesmoke;
    text-align: center;
    animation-timeline: scroll(root);
}

section {
    display: grid;
    grid-template-columns: 50% 50%;
}

section > img{
    width: 90%;
    padding: 20px;
    border-radius: 25px;
}

@keyframes makuku {
    from {
        
    }
    to {
        font-size: 15px;
        background-color: rgba(128, 128, 128, 0.5);
        color: black;
    }
}
