header, footer {
    color: aliceblue; 
    background-color: #DC143C; 
    padding: 2px;
    border: 5px, solid; 
    border-color: rgb(204, 151, 87); 
}

body {
    background-color: rgb(224, 194, 154);
}

@import url(https://fonts.google.com/specimen/Rubik);

ul {
    border: 3px;
    border-radius: 2px; 
    border-color: black;
}

h3 {
    background-color: rgb(236, 221, 200);
    color: black;
    border: 2px solid;
    border-color:black;
}

h1, h2, h3{
    font-family: "Rubik";
}

.colorVerd{
    color: green;
}