@import url("https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap");

body {
  font-family: Arial, sans-serif;
  background-color: #d4e9d5;
}

h1 {
  font-family: "Science Gothic";
}

h1,
h2 {
  color: #2e7d32;
}

section,
header,
footer,
article,
nav {
  background: #ffffff;
  border-radius: 8px;
  padding: 15px;
  margin: 15px;
}

a {
  display: inline-block;
  margin: 10px;
  text-decoration-line: none;
  color: #2e7d32;
  font-weight: bold;
}

summary {
  font-weight: bold;
  cursor: pointer;
}

label {
  display: block;
  margin-top: 10px;
}

input,
button,
select {
  width: 100%;
  border: 1px solid #4ac352;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  font-size: 1em;

  box-sizing: border-box;
}

button {
  background-color: #2e7d32;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition-duration: 3s;
  transition-property: all;
  transition-timing-function: ease;
  transition-delay: 0.5s;
}

button:hover {
  background-color: #4ac352;
  scale: 1.25;
}

.buscaminas > img {
  width: 100px;
  height: 75px;
}

.buscaminas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 5px;
}

.memory > img {
  width: 100px;
}

.memory {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 5px;
}

.grd > div {
  background-color: #f5f5f5;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  margin: 5px;
  text-align: center;
}

.grdcontainer-verde > div {
  background-color: #2e7d32;
  font-weight: bold; /* negrita */
  color: white;
  flex-direction: column;
  flex-wrap: wrap;
}

.grdcontainer-gris > div {
  text-align: center;
  border: 1px solid #ddd;
  flex-direction: column;
  flex-wrap: wrap;
}

.grd > div > div > p {
  margin: 10px;
  flex-direction: column;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .buscaminas {
    flex-direction: column;
    align-items: center;
  }
  .buscaminas > img {
    height: 150px;
    width: 150px;
  }
  .memory {
    flex-direction: column;
    align-items: center;
  }
  .memory > img {
    width: 150px;
  }
  
  .grd > .grdcontainer-gris:nth-last-child(1) {
    grid-template-columns: 1fr;
  }

  .grdcontainer-verde > .grdcoment {
    display: none;
  }

  .grdnom,
  .grdval {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .grd > .grdcontainer-verde:nth-child(1),
  .grd > .grdcontainer-gris:nth-last-child(1) {
    grid-template-columns: 1fr 2fr;
    margin: 10px;
  }
  .grdval {
    display: none;
  }
}
