body {background-color: rgb(34, 31, 31);}

h1 {font-family: 'Times New Roman', Times, serif; font-style: italic; color: rgb(248, 179, 94);}

p {color: aliceblue; font-family: 'Times New Roman', Times, serif;}

.from {}

.ds1 {}

.er {}

.bb {}

.lp {}