body {
  background-color: rgb(34, 31, 31);
}

h1 {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  color: rgb(248, 179, 94);
}

p {
  color: aliceblue;
  font-family: "Times New Roman", Times, serif;
}

main > section {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  font-family: "Times New Roman";
  background-color: rgb(54, 51, 51);
  border: 2px solid rgb(248, 179, 94);
  padding: 10px;
  color: rgb(248, 179, 94);
  margin: 10px;
  display: block;
}

a {
  text-decoration: none;
  color: rgb(248, 179, 94);
}

a:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}